.checkoutProduct{
    display:flex;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.checkoutProductInfo{
    padding-left: 20px;
}
.checkoutProductInfo > button{
    background:#f0c14b;
    border:1px solid;
    border-radius:2px;
    height:25px;
    width:150px;
    margin-top:20px;
    margin-right: 20px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}
.checkoutProductImage{
     height:200px ;
    width:200px;
    object-fit:contain;
    margin-bottom:15px;
}
.checkoutProductRating{
    display:flex;
}
.checkoutProductTitle{
    font-size:17px !important;
    font-weight:800;
}